.toggle-container input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle-container  input:checked + label {
	background: var(--color-toggle);
}

.toggle-container input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.toggle-container  label:active:after {
	width: 45px;
}

.toggle-container  label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}
.toggle-container label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

.header {
	color: whitesmoke;
	font-size: 2rem;
	text-align: center;
	margin-top: 100px;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #ff0081, #6827b0);
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	transform: scaleX(1.5);
	z-index: -1;
}