
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    background-color: #E64A19;
  }
  
  form {
    max-width: 300px;
    margin: 300px auto;
    padding: 10px 20px;
    background: #FFCCBC;
    border-radius: 8px;
    color: black;
    border: 2px solid #757575;
  }

  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
    color: black;
  }
  
  form input{
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    border-radius: 5px;
  }

  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    border: none;
  }

  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
      align-self: left;
    }
  
  }
  
  @media (min-width:769px) {
    .inln {
        width: auto;
        display: inline-block;
    }
    .btn + .btn {
      margin-left: 12px;
    }
  }

form a {
  font-size: 12px;
  text-decoration: underline;
  font-weight: 900;
  color: #757575;
  padding-left: 12px;
}
