/* @import url(tealsignin.css);
@import url(tealforms.css);
@import url(tealsetting-style.css); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div#popup.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.btn.active {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

html[data-theme='dark'] {
    --bg: #252525;
    --bg-panel: #434343;
    --color-headings: #ffffff;
    --color-text: #ffffff;
    --span-color: teal;
    --button-color: white;
    --color-toggle: #3694FF; 
}

html {
    font-size: 10px;
    font-family: 'Baloo Bhai 2', cursive, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: var(--color-headings);
    --span-color:teal;
    --button-color: black;
}

body {
    background-color: var(--bg);
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: var(--color-text);
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color:var(--color-headings);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.section-title span {
    color: var(--span-color);
}

.cta {
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid teal;
    border-radius: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    background-color: teal;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand span {
    color: teal;
}

/* Header Section*/
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, .24);
    transition: .3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}

#header .nav-list ul.active {
    left: 0%;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, .21);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .7s ease letter-spacing;
}

#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a{
    color: teal;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}

#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::after {
    top: 0;
} 

#header .hamburger.active .bar::before {
    bottom: 0;
}


/* End Header Section*/

/* Hero Section */
#hero {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}
#hero h1:nth-child(2) {
    animation-delay: 2s;
}
#hero h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
    margin-bottom: 36px;
}
#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: teal;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}
#hero h1:nth-child(1) span {
    animation-delay: .5s;
}
#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}
/* End Hero Section */

/* Service Section */
#services .service {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-top {
    width: 500px;
    margin: 0 auto;
}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url('img/img1.jpeg');
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service-item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .9;
    z-index: -1;
}

#services .service-bottom  .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

.icon {
    width: 90px;
    border-radius: 50%;
}

#services .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p {
    color: white;
    text-align: left;
}

/* End Service Section */

/* Projects Section */
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 30px;
}
#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}

#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p {
    color: white;
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .7;
}

#projects .project-img img {
    transition: .3s ease transform;
}

#projects .project-item:hover .project-img img{
    transform: scale(1.1);
}
/* End Projects Section */

/* About Me Section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
    padding: 100px 20px
}

#about .col-left {
    width: 250px;
    height: 360px;

}
#about .col-right {
    width: 950px;
}
#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}
#about .col-right .cta {
    margin-bottom: 20px;
    color: var(--button-color);
    margin: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .about-img {
    margin-top: 30px;
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}

#about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid teal;
    z-index: -1;
}
/* End About Me Section */

/* Footer */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: .3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p {
    color: white;
    font-size: 1.3rem;
}
/* End Footer */

/* Key Frames */
@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);

    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: teal; 
        font-weight: 500;
    }
}

/* End Key Frames */

/* Media Queries for Tablet */

/* End Media Queries for Desktop */

/* Other */
.btn {
        margin-top: 12px;
        background-color: transparent;
        border: black 2px solid;
        border-radius: 10px;
        font-family: 'Baloo Bhai 2', cursive;
        color: black;
        font-size: 3rem;
}

.btn:hover {
    color: white;
    background-color: teal;
}
/* End Other */



#projects .all-projects .project-item .project-info a[class="cta"], 
#services a[class="cta"] {
    margin-top: 10px;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 2rem;
}

#services a[class="cta"] {
    margin: 0px auto;
}

.cloud-hosting {
    margin-bottom: 40px;
}

.service-p {
    padding-bottom: 40px;
}

.service-item {
    overflow: auto;
    min-height: 700px;
}

.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
/* End CLI */

/* Forms */
.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(66, 66, 66, .8);
    padding: 20px;
    margin: 10px;
}

#form {
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 700px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    color: white;
    background: rgb(75, 9, 9);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 5;
}

.greet-text h1:nth-child(1) {
    margin-top: 200px;
}

#popup-settings {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 700px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    color: white;
    background: linear-gradient( to top right, teal, #7700ff);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup-settings.active {
    top: 500px;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup-settings button {
    font-size: 1.7rem;
    margin-top: 30px;
    padding: 15px 15px;
    color: white;
}

.nav-button {
    padding: 10px;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: white;
	float: left;
	border-radius: 100px;
	position: relative;
}


label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: black;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--color-headings);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms ;
    transition-delay: 0 ;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

#popup-settings .section-title{
    text-align: center;
    text-decoration: underline;
}

#popup-settings h2 {
    display: inline-block;
    font-size: 30px;
}

#popup-settings hr {
    margin: 30px 0;
    width: 100%;
}



@media only screen and (min-width:768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
        margin: 0 auto;
    }
    h1.section-title {
        font-size: 6rem;
    }

    /* Hero */
    #hero h1 {
        font-size: 7rem;
    }
    /* End Hero */

    /* Service Section */
    #services .service-bottom .service-item {
        flex-basis: 45%;
        margin: 1.5%;
    }
    /* End Service Section */

    /* Project Section */
    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
    #projects .project-item {
        flex-direction: row;
    }
    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .all-projects .project-info {
        height: 100%;
    }

    #projects .all-projects .project-img {
        height: 100%;
    }
    /* End Project Section */

    /* About Section */
    #about .about {
        flex-direction: row;
    }
    #about .col-left {
        width: 700px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after {
        left: -45px;
        top: 24px;
        height: 98%;
        width: 98%;
        border: 10px solid teal;
    }

    #about .col-right {
        text-align: left;
        padding: 30px;
    }

    #about .col-right h1 {
        text-align: left;
    }
    /* End About Section */
}
/* End Media Queries for Tablet */


/* Media Queries for Desktop */
@media only screen and (min-width: 1200px) {
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 1.8rem;
    }

    #header .nav-list ul a:after {
        display: none;
    }

    #services .service-bottom .service-item {
        flex-basis: 22%;
        margin: 1.5%;
    }
}


#about .col-right p {
    text-align: left;
}

#popup-settings form select{
    padding: 8px 12px;
    color: #333333;
    background-color: teal;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
/* 
    Arrow styling 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50, 50" style="fill:%23#666666;" /></svg>');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 10px; */
}

#popup-settings form select:focus {
    outline: none;

}
#popup-settings form select:hover {
    outline: none;
    border: 2px solid #bbbbbb;
}

#popup-settings form select option {
    background: #fff;
}