/* Navbar styles */

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 15px;
    margin: 0 10px;
}

.navbar a:hover {
    border-bottom: 2px solid #fff;
    border-top: 2px solid rgba(66, 66, 66, .8);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
/* End Navbar styles */

/* Showcase Styles*/
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p{
    margin: 30px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

.showcase::before, 
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: white;
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
}

.section-boundary::before, 
.sedction-boundary::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: white;
    transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
}


.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}
/* End Showcase Styles*/


/* Stats Styles*/
.stats {
    padding-top: 100px;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.stats-heading {
    max-width: 500px;
    margin: 0 auto;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: 600;
}
/* End Stats Styles*/

/* CLI */
.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
/* End CLI */

/* Forms */
.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(66, 66, 66, .8);
    padding: 20px;
    margin: 10px;
}
/* End Forms */