
label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: white;
	float: left;
	border-radius: 100px;
	position: relative;
}


label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: black;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--color-headings);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

/* Background and colored buttons */

.bg-primary, 
.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.bg-secondary, 
.btn-secondary {
    background-color: var(--secondary-color);
    color: white;
}

.bg-dark, 
.btn-dark {
    background-color: var(--dark-color);
    color: white;
}

.bg-light, 
.btn-light {
    background-color: var(--light-color);
    color: #333;
}


.bg-primary a, 
.btn-primary a,
.bg-secondary a, 
.btn-secondary a,
.bg-dark a, 
.btn-dark a {
    color: white;
}
/* Text Colors */

.text-primary, 
.text-primary {
    color: var(--primary-color);
}

.text-secondary, 
.text-secondary {
    color: var(--secondary-color);
}

.text-dark, 
.text-dark {
    color: var(--dark-color);
}

.text-light, 
.text-light {
    color: var(--light-color);
}text
/* End Text Colors */


/* Navbar styles */



/* Text sizes */
.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}
/* EndText sizes */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 15px;
    margin: 0 10px;
}

.navbar a:hover {
    border-bottom: 2px solid #fff;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
/* End Navbar styles */

/* Showcase Styles*/
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p{
    margin: 30px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

.showcase::before, 
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: white;
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
}

.section-boundary::before, 
.sedction-boundary::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: white;
    transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
}


.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 2s ease-in;
}
/* End Showcase Styles*/


/* Stats Styles*/
.stats {
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.stats-heading {
    max-width: 500px;
    margin: 0 auto;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: 600;
}
/* End Stats Styles*/

/* CLI */
.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
/* End CLI */

/* Cloud */
.cloud .grid {
    grid-template-columns: 4fr 3fr;
}
/* End Cloud */

/* Forms */
.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(66, 66, 66, .8);
    padding: 20px;
    margin: 10px;
}
/* End Forms */

/* Languages */
.languages .flex {
    flex-wrap: wrap;
}

.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: .2s ease-in;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-15px) ;
}
/* End Languages */

/* Features */
.features-head img {
    width: 200px;
    justify-self: self-end;
}

.features-sub-hed img {
    width: 300px;
    justify-self: flex-end;
}
.features-main .card > i{
    margin-right: 30px;
}

.features-main .grid > *{
    grid-column: 1 / span 3;
}

.features-main .grid:first-child {
    padding: 30px
}

/* End Features */


/* Footer */

.footer .social a {
    margin: 0 10px;
}

/* End Footer */

/* Docs */

.docs-head img {
    width: 200px;
    justify-self: self-end;
}

.docs-main h3 {
    margin: 20px 0;
}

.docs-main .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}

.docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    border-bottom: 1px #ccc solid;
    margin-bottom: 5px;
}

.docs-main a:hover {
    font-weight: 900;
}

/* End Docs */

/* Animations */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}



/* End Animations */

/* Tablets and under */

@media(max-width: 928px) {
    .features-sub-head img {
        max-width: 300px;
    }
    
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .btn-outline{
        background-color: var(--dark-color);
        border-color: var(--secondary-color);
    }

    .btn-primary {
        background-color: var(--secondary-color);
        margin-top: 17px;
        padding: 19px 40px;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 50px;
        animation: slideInFromTop 1s ease-in;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
        margin-top:-35px;
        animation: slideInFromBottom 2s ease-in;
    }

    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .cli .grid .card h3 {
        text-align: center;
    }

    .features-head,
    .features-sub-head,
    .docs-head {
        text-align: center;
    }
    .features-head img,
    .features-sub-head img,
    .docs-head img {
        justify-self: center;
    }
}
/* End Tablets and under */

/* Mobile */

@media(max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, .1);
    }
}

/* Mobile */

#popup-settings {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 700px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    color: white;
    background: linear-gradient( to top right, #3178b3, #7700ff);
    visibility: hidden;
    opacity: 0;
    transition: 2s;
}

#popup-settings.active {
    top: 500px;
    visibility: visible;
    opacity: 1;
    transition: 1.5s;
    z-index: 20000;
}

#popup-settings button {
    font-size: 1.7rem;
    margin-top: 30px;
    padding: 15px 15px;
    color: white;
}
#popup-settings button[class="color-theme"]:not(:nth-child(1)) {
    margin-left: 30px;
}
#popup-settings button[class="color-theme"]:focus{
    outline: none;
}

#popup-settings button[class="color-theme"]:hover {
    border: 2px solid black;
    transform: scale(.9);
    transition: .25s ease-in-out;
}

#popup-settings button[id="default-switch"] {
        color:  rgb(16, 141, 179);
        border: none;
        background-color:  rgb(16, 141, 179);
        border-radius: 10px;
}

#popup-settings button[id="teal-switch"] {
    color: teal;
    border: none;
    background-color: teal;
    border-radius: 10px;
}

#popup-settings button[id="crimson-switch"] {
    color: crimson;
    border: none;
    background-color: crimson;
    border-radius: 10px;
}

#popup-settings .section-title{
    text-align: center;
    text-decoration: underline;
}

#popup-settings h2 {
    display: inline-block;
    font-size: 30px;
}

#popup-settings button {
    font-size: 1.3rem;
    margin-top: 30px;
    padding: 12px 12px;
    color: white;
}

#popup-settings hr {
    margin: 30px 0;
    width: 100%;
}

#popup-settings form select{
    padding: 8px 12px;
    color: #333333;
    background-color: #3694FF;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
/* 
    Arrow styling 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50, 50" style="fill:%23#666666;" /></svg>');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 10px; */
}

#popup-settings form select:focus {
    outline: none;

}
#popup-settings form select:hover {
    outline: none;
    border: 2px solid #bbbbbb;
}

#popup-settings form select option {
    background: #fff;
}

@media only screen and (max-width:1150px) {
    #popup-settings.active {
        width: 500px;
        transition: 2s;
    }
}

@media only screen and (max-width:767px) {
    #popup-settings.active {
        width: 450px;
        transition: 2s;
    }
}
@media only screen and (min-width:768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
        margin: 0 auto;
    }
}


.cta {
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid#3694FF;
    border-radius: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    background-color: rgb(37, 134, 163);
}